.git
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.env
.env.*
.DS_Store
.tmp
tmp/
qdrant.db/
qdrant.db/**
node_modules/
tests/
docs/
examples/
meta/
*.log
current_requirements.txt
*.egg-info
build/
dist/
.gitignore
.idea/
.vscode/
__pycache__/
*.egg
*.bak
archive/
