# values-local-dev.yaml
# Overrides for local development.

replicaCount: 1

resources:
  limits:
    cpu: "500m"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"

service:
  port: 10101
  targetPort: 10101

postgres:
  replicaCount: 1
  persistence:
    enabled: false

secrets:
  create: false
  apiTokenSecretName: "soma-api-token"
  postgresPasswordSecretName: "soma-postgres-password"
  apiTokenLiteral: ""
  postgresPasswordLiteral: ""

redis:
  replicaCount: 1
  persistence:
    enabled: false

qdrant:
  replicaCount: 1
  persistence:
    enabled: false
