apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: etcddata
  name: etcddata
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
