apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml --profile core -o infra/k8s/
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: postgres
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml --profile core -o infra/k8s/
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: postgres
    spec:
      containers:
        - args:
            - postgres
            - -c
            - max_connections=100
            - -c
            - shared_buffers=384MB
            - -c
            - effective_cache_size=1024MB
            - -c
            - maintenance_work_mem=64MB
            - -c
            - work_mem=4MB
            - -c
            - wal_buffers=8MB
            - -c
            - checkpoint_completion_target=0.9
            - -c
            - random_page_cost=1.1
            - -c
            - effective_io_concurrency=200
            - -c
            - min_wal_size=512MB
            - -c
            - max_wal_size=2GB
            - -c
            - max_worker_processes=2
            - -c
            - max_parallel_workers_per_gather=1
            - -c
            - max_parallel_workers=2
            - -c
            - max_parallel_maintenance_workers=1
            - -c
            - log_min_duration_statement=1000
            - -c
            - log_checkpoints=on
            - -c
            - log_connections=on
            - -c
            - log_disconnections=on
            - -c
            - log_lock_waits=on
            - -c
            - idle_in_transaction_session_timeout=60000
            - -c
            - statement_timeout=300000
          env:
            - name: POSTGRES_DB
              value: somamemory
            - name: POSTGRES_HOST_AUTH_METHOD
              value: md5
            - name: POSTGRES_INITDB_ARGS
              value: --encoding=UTF8 --locale=C
            - name: POSTGRES_PASSWORD
              value: soma
            - name: POSTGRES_USER
              value: soma
          image: postgres:15
          livenessProbe:
            exec:
              command:
                - pg_isready -h localhost -p 5432 -U soma
            failureThreshold: 5
            periodSeconds: 10
            timeoutSeconds: 5
          name: somafractalmemory-postgres
          ports:
            - containerPort: 5432
              protocol: TCP
          resources:
            limits:
              memory: "1610612736"
            requests:
              memory: "805306368"
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: pgdata
      restartPolicy: Always
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: pgdata
