apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f docker-compose.yml --profile core -o infra/k8s/
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: redis
  name: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: redis
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f docker-compose.yml --profile core -o infra/k8s/
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: redis
    spec:
      containers:
        - args:
            - redis-server
            - --maxmemory
            - 400mb
            - --maxmemory-policy
            - allkeys-lru
            - --maxclients
            - "5000"
            - --tcp-backlog
            - "511"
            - --timeout
            - "0"
            - --tcp-keepalive
            - "300"
            - --save
            - "900"
            - "1"
            - --save
            - "300"
            - "10"
            - --save
            - "60"
            - "10000"
            - --appendonly
            - "yes"
            - --appendfsync
            - everysec
            - --no-appendfsync-on-rewrite
            - "no"
            - --auto-aof-rewrite-percentage
            - "100"
            - --auto-aof-rewrite-min-size
            - 64mb
            - --activerehashing
            - "yes"
            - --hz
            - "10"
            - --dynamic-hz
            - "yes"
            - --lazyfree-lazy-eviction
            - "yes"
            - --lazyfree-lazy-expire
            - "yes"
            - --lazyfree-lazy-server-del
            - "yes"
            - --replica-lazy-flush
            - "yes"
          image: redis:7
          livenessProbe:
            exec:
              command:
                - redis-cli
                - -p
                - "6379"
                - ping
            failureThreshold: 5
            periodSeconds: 10
            timeoutSeconds: 5
          name: somafractalmemory-redis
          ports:
            - containerPort: 6379
              protocol: TCP
          resources:
            limits:
              memory: "536870912"
            requests:
              memory: "268435456"
          volumeMounts:
            - mountPath: /data
              name: redisdata
      restartPolicy: Always
      volumes:
        - name: redisdata
          persistentVolumeClaim:
            claimName: redisdata
