# values-local-dev.yaml
# Overrides for local development.

replicaCount: 1

resources:
  limits:
    cpu: "500m"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"

service:
  port: 9595
  targetPort: 9595

postgres:
  replicaCount: 1
  persistence:
    enabled: false
  secrets:
    apiTokenSecretName: "soma-api-token"
    postgresPasswordSecretName: "soma-postgres-password"

redis:
  replicaCount: 1
  persistence:
    enabled: false

qdrant:
  replicaCount: 1
  persistence:
    enabled: false
