# Default values for somafractalmemory.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: somafractalmemory
  pullPolicy: Never
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

service:
  type: ClusterIP
  port: 9393

postgres:
  enabled: true
  replicaCount: 1
  image:
    repository: postgres
    tag: 15
  service:
    port: 40001
  persistence:
    enabled: false
    size: 10Gi

redis:
  enabled: true
  replicaCount: 1
  image:
    repository: redis
    tag: 7
  service:
    port: 40002
  persistence:
    enabled: false
    size: 5Gi

qdrant:
  enabled: true
  replicaCount: 1
  image:
    repository: qdrant/qdrant
    tag: latest
  service:
    port: 40003
  persistence:
    enabled: false
    size: 10Gi

secrets:
  apiToken: "devtoken"
  postgresPassword: "soma"
